.body {
    background-color: white;
     margin: 15px;
     padding: 0px;
     /* border: 0px; */
 }
 .navbar ul {
     list-style-type: none;
     /* margin-left: 25px; */
 }
 .navbar a {
    text-decoration: none;
    padding-right: 10px;
 }
 .navbar li {
     display: inline-block;
     margin-top: 10px;
 }
 .header {
     display: flex;
     align-items: center;
     
 }
 .navbar ul li a {
     margin: 30px;
     font-family: myraid pro regular;
     font-size: 20px;
     font-weight: 500;
     color: black;
 }.ict {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: normal;
     line-height: 30px;
      
 }
 .img {
     padding: 10px 20px;
     box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
     margin-bottom: 15px;
     display: block;
     width: 400px;
     height: 400px;
     margin-left: 15%;
 
    
  }
 .child {
     display: flex;
     flex-direction: row;
     
 }
 .hi {
      font-size: 25px;
      font-weight: 500;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font: medium;   
 }
 .fr {
      font-size: xx-large;
      font-weight: 600;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .des {
      font-family: sans-serif;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
 
 }
 .dm {
      background: #5d5483;
      border-radius: 10px;
      color: white;
      width: 120px;
      font-size: 20px;
      margin-bottom: 20px;
      
 
 }
 .container1 {
     margin-left: 150px;
 }
 .hi,
 .fr,
 .des,
 .dm {
     position: relative;
     bottom: 250px;
 }
 .pix2 {
     width: 300px;
     height: 300px;
     margin-left: 10%;
     box-shadow: 2px 4px lightslategray;
     stroke: none;
 }
 .see {
   display: flex;
   flex-direction: row; 
   position: relative;
   bottom: 120px;
 
 
 }
 .sac {
     margin-left: 100px;
 }
 .have {
     margin-left: 20%;
     font: x-large;
     line-height: 30px;
     font-size: 20px;
     width: 500px;
     border: 1px solid #0000;
     word-break: keep-all;
     position: relative;
     bottom: 30px;
  
 }
 .about {
     text-align: center;
     position: relative;
     bottom: 140px;
     font-size: 30px;
     font-family: myraid pro regular;
       
 }
 .read {
     background-color: #5d5483;
     border-radius: 10px;
     color: white;
     font-size: 20px;
     margin-bottom: 20px;
     margin-left: 48%;
     position: relative;
     bottom: 120px;
 }
 .ex {
     text-align: center;
     position: relative;
     bottom: 120px;
     font-size: 30px;
     font-family: myraid pro regular;
 
 }
 .UI {
     background-color: white;
     width: 1200px;
     border: 1px solid #0000;
     word-break: keep-all;
     line-height: 30px;
     text-align: center;
     box-shadow: 25px 28px 35px 14px rgba(0, 0, 0, 0.25);
     
     
 
 }
 .front{
     background-color: white;
     width: 1200px;
     border: 1px solid #0000;
     word-break: keep-all;
     margin-left: 5%;
     border: 10px;
     line-height: 30px;
     text-align: center;
     box-shadow: 25px 28px 35px 14px rgba(0, 0, 0, 0.25);
     
 
 }
 .back {
     background-color: white;
     width: 1200px;
     border: 2px solid #0000;
     word-break: keep-all;
     margin-left: 5%;
     line-height: 30px;
     text-align: center;
     box-shadow: 25px 28px 35px 14px rgba(0, 0, 0, 0.25);
 }
 .box {
     display: flex;
     flex-direction: row;
     margin-left: 10%;
     margin-right: 10%;
     position: relative;
     bottom: 110px;
 }
 .con {
     text-align: center;
     font-size: 30px;
     font-family: myraid pro regular;
     position: relative;
     bottom: 90px;
 
 }
 .go {
     display: block;
     
 
 }
     
     
 
 
 
    
     
 
 
 
 
 
 
 